# PixelCraft Docker ignore file

# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
*.lcov

# Logs
logs
*.log

# Environment
.env
.env.local
.env.*.local

# Misc
*.tgz
.cache